<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<header><h1>Serving Web Content</h1></header>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <footer>&copy; all rights reserved | Tobolkin Anton | tobantal@gmail.com</footer>
</body>
</html>